@model BluedeskUpload.Models.Download

@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>

<dt>
    @Html.DisplayNameFor(model => model.Upload.Bestand)
</dt>

<dd>
    @Html.DisplayFor(model => model.Upload.Bestand)
</dd>

@*@if (System.IO.File.Exists(Server.MapPath("~/Images/", ImageName)) == true)
    {
        <img src="@Url.Content("~/Images/no-image.jpg")" alt="This is Default Image" title="This is Default Image Title">
    }
    else
    {
        <img src="@Url.Content("~/Images/" + ImageName)" alt="This is Image Alt" title="This is Image Title">
    }*@