@model BluedeskUpload.Models.Upload

@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>

<dt>
    @Html.DisplayNameFor(model => model.Bestand)
</dt>

<dd>
    @Html.DisplayFor(model => model.Bestand)
</dd>

