body {
    margin: 100px;
    padding: 0;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group{
    color: black;
    font-weight: bold;
}

.btn-default {
    background-color: #069adc;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    
}

.btn-default:hover{
    background-color: #069adc;
    color: white;
}

.navbar-inverse {
    background-color: #069adc;
}

