<div class="jumbotron">
    <h2 style="text-align:center"><b>About</b></h2> <br />

    <p>
        This application is a service tool for Bluedesk. Bluedesk provides sustainable e-commerce solutions that are given the space to continue to develop.
        That is why they first design a reliable e-business architecture. Based on proven successful software that provides content management, product management, shop management and marketing management.
        With the ability to easily integrate with your company's ERP and CRM systems. A solid foundation for digital excellence. With this application it is possible to upload large files that Bluedesk needs.
        You can read how to use this application at the @Html.ActionLink("Help", "Contact", "Home") page.
    </p>

    <img src="~/Images/about.png" id="Bluelogo" />
</div>